 
<%- include('./partials/_head.ejs') %>   
   <body>
      <%- include('./partials/_header-bg.ejs') %>
      <!-- blog section start -->
      <% for( let index = 0; index < photos.length; index++ ) { %>
      
      
      <div class="blog_section margin_90">
         <div class="container">
            <div class="row">
               <div class="col-md-6 col-sm-6 col-xs-6 padding_right0">
                  <h1 class="blog_taital">Öncesi:</h1>
                  <div class="blog_img"><img class="img-fluid" src="<%= photos[index].image1 %>" alt="yıkanmadan önceki hali"></div>
               </div>
               <div class="col-md-6 col-sm-6 col-xs-6 padding_right0">
                  <h1 class="blog_taital">Sonrası:</h1>
                  <div class="blog_img"><img class="img-fluid" src="<%= photos[index].image2 %>" alt="yıkandıktan sonraki hali"></div>
                  <% if (UserIN) { %>
                     <div class="readmore_bt"><a href="/adminLogin/deletePhotos/<%= photos[index]._id %>?_method=DELETE" onclick="return confirm('Are you sure you want to delete?')">Resmi Sil</a></div>
                  <% } %>
                  
               </div>
            </div>
         </div>
      </div>
      <% } %>
      <!-- blog section end -->
      <%- include('./partials/_footer.ejs') %>
   </body>
</html>